
.idea/mELM.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.vscode/launch.json
melm - Copy.py
__pycache__/test.cpython-311.pyc
log.txt
.venv/
.vscode/
.idea/